<div class="col-sm-8 offset-2">
    <div class="card">
        <div class="card-header bg-primary text-white">Send Email for Reset Password</div>
        <div class="card-body">
            <form #requestPasswordForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label for="email" class="col-form-label">Email</label>
                        <input [(ngModel)]="form.email" name="email" type="email" class="form-control" id="email" placeholder="Email" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <button [disabled]="!requestPasswordForm.valid" type="submit" class="btn btn-block btn-primary">Send Password Reset Email</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>